:root {
    --backgroundColor: lightyellow;
    --headerBackgroundColor: #364150;
    --headerColor:white;
    --brandColor:white;
    --menuLinkColor: white;
}


body {
  font-family: Roboto, sans-serif;
  /* background-color: lightyellow; */
  background-color: rgb(225, 233, 236);
  margin: 20px;
  padding: 20px;
  
}
button{
  margin: 0px auto;
  background: none;
  color: inherit;
  outline: inherit;
  border-radius: 5px;
  /* background-color: #a4bcdd;
  color: white; */


}
header {
  /* background-color: #364150; */
  background-color: var(--headerBackgroundColor);
  color: var(--headerColor);
  padding: 10px;
}
.login_form{
    margin: 20px;
    padding: 20px;
}

.navbar {
    margin: 10px;
    padding: 0;
}

a.brand {
  color: var(--brandColor);
  text-decoration: none;
  padding-right: 30px;
  margin: 10px;
}

.nav-item {
  color: var(--menuLinkColor);
  text-decoration: none;
  padding: 25px;
}

main {
  margin: 10px;
}
.row{
  border: 2px solid black;
  margin: 0 30% 0 30%;
  padding: 30px;
  border-radius: 5px;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: rgb(212, 206, 206);
}

h2 {
  text-align: center;
}


.form-group {
  display: block;
  margin: 5px;
}

.form-group > label {
  display: block;
  margin: 2px;
}

.form-control {
  display: block;
}

.form-check-inline {
  display: block;
}

.form-check-input {
  display: inline-block;
}

table, th, td{
  border:2px solid black;
  border-collapse: collapse;
}